<div class="text-center pt-4">
    <h1 class="text-4xl">Things</h1>
    <small>Keep track of your stuff – return your friends´ stuff on time</small>
</div>

<div class="cta mt-4 mb-20 flex">
    <button class="button mx-auto">Add Something</button>
</div>

<div class="flex">
    <div class="w-1/2 px-2">
        <h2
            class="text-lg font-light text-gray-700 uppercase text-center border-b border-gray-700"
        >
            Your Stuff
        </h2>
        <div>
            <a class="list-item" href="#">
                <img
                    class="w-1/4 rounded-full p-2"
                    src="https://picsum.photos/id/693/100/100"
                    alt="Photo of a Shiba Inu"
                />
                <div class="w-3/4 px-4 flex flex-col justify-center" href="#">
                    <div class="font-light text-sm">Breath of Fire 1</div>
                    <div>
                        <span class="pill bg-blue-100">Jochen Böhm</span>
                        <span class="pill bg-green-100"> 20.04.2015</span>
                    </div>
                </div>
            </a>
            <a class="list-item" href="#">
                <img
                    class="w-1/4 rounded-full p-2"
                    src="https://picsum.photos/id/691/100/100"
                    alt="Photo of a Shiba Inu"
                />
                <div class="w-3/4 px-4 flex flex-col justify-center" href="#">
                    <div class="font-light text-sm">AD&D Regelbuch</div>
                    <div>
                        <span class="pill bg-blue-100">Oliver Thamerus</span>
                        <span class="pill bg-green-100"> 20.04.1999</span>
                    </div>
                </div>
            </a>
            <a class="list-item" href="#">
                <img
                    class="w-1/4 rounded-full p-2"
                    src="https://picsum.photos/id/785/100/100"
                    alt="Photo of a Shiba Inu"
                />
                <div class="w-3/4 px-4 flex flex-col justify-center" href="#">
                    <div class="font-light text-sm">Squire Jazz-Bass</div>
                    <div>
                        <span class="pill bg-blue-100">Moni Mang</span>
                        <span class="pill bg-green-100"> 02.08.2017</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="w-1/2">
        <h2
            class="text-lg font-light text-gray-700 uppercase text-center border-b border-gray-700"
        >
            Their Stuff
        </h2>
        <div>
            <a class="list-item" href="#">
                <img
                    class="w-1/4 rounded-full p-2"
                    src="https://picsum.photos/id/613/100/100"
                    alt="Photo of a Shiba Inu"
                />
                <div class="w-3/4 px-4 flex flex-col justify-center" href="#">
                    <div class="font-light text-sm">Breath of Fire 1</div>
                    <div>
                        <span class="pill bg-blue-100">Jochen Böhm</span>
                        <span class="pill bg-green-100"> 20.04.2015</span>
                    </div>
                </div>
            </a>
            <a class="list-item" href="#">
                <img
                    class="w-1/4 rounded-full p-2"
                    src="https://picsum.photos/id/191/100/100"
                    alt="Photo of a Shiba Inu"
                />
                <div class="w-3/4 px-4 flex flex-col justify-center" href="#">
                    <div class="font-light text-sm">AD&D Regelbuch</div>
                    <div>
                        <span class="pill bg-blue-100">Oliver Thamerus</span>
                        <span class="pill bg-green-100"> 20.04.1999</span>
                    </div>
                </div>
            </a>
            <a class="list-item" href="#">
                <img
                    class="w-1/4 rounded-full p-2"
                    src="https://picsum.photos/id/635/100/100"
                    alt="Photo of a Shiba Inu"
                />
                <div class="w-3/4 px-4 flex flex-col justify-center" href="#">
                    <div class="font-light text-sm">Squire Jazz-Bass</div>
                    <div>
                        <span class="pill bg-blue-100">Moni Mang</span>
                        <span class="pill bg-green-100"> 02.08.2017</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
